body {
    font-family: 'Oswald', sans-serif;
    color: #1E555C;
    margin: 0px;
    padding: 0px;
}
/*----------------------Navigation Bar----------------------------------------------------*/

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}
ul li {
        float: right;
        width: 85px;
        height: 30px;
        margin: 0px;
        padding: 0px;
        font-size: 15px;
        color: #1E555C;
}
ul li a {
        text-decoration: none;
    }
ul li a:hover {
        color: #7C7C7C;
}
ul li:hover ul li {
    display: block;
}
ul li ul li {
    display: none;
}
/*----------------FOOTER------------------------------------*/
footer {
    width: 100%;
    overflow: hidden;
    left: 0px;
    right: 0px;
    padding: 10px 0px;
    background-color: #1E555C;
}
.wrapper {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}
.social {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

}
#media {
    color: #bbccce;
    font-family: 'Oswald', sans-serif;
}
.fa-icon {
    width: 100px;
    height: auto;
    color: #bbccce;
}
.fa-facebook::before {
    color: #1E555C;
}
/*---------------------------------Table Properties----------------------------------------------------------------*/
.table-properties {
    margin: 100px auto;
    font-size: 0.9em;
    min-width: 600px;
}
.table-properties td {
    padding: 12px 15px;
}

